* {
  box-sizing: border-box;
	
}
/*
#005eb6 - albastru deschis;  #1534AB  - albastru inchis; #003eb3  - albastru deschis; #4115ab - albastru spre mov; #171717 -negru usor deschis;
#00b52d - verde; #fa7a02 - portocaliu;
*/


body {

  max-width: 1300px;
    min-height: 100vh;
    padding: 4px;
    margin: 0 auto;
  	z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(61, 12, 12);
    color: white;
}

header {

  text-align: center;
  
}

#container {

  margin-top: 15px;


}

.item {

  border-bottom: 1px solid rgb(68, 67, 67);
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 15px;
}

.item a {

  position: absolute;
  bottom: -7px;
  right: 0;
  padding: 6px;
  color: white;
  background-color: rgb(5, 77, 5);
  text-decoration: none;
}

.item a::after {

  content: '>';

}


.item a:hover {

  background-color:rgb(8, 129, 8);
  cursor: pointer;

}

.item h4 {

  font-size: 22px;

}